* {
    box-sizing: border-box;
}

body{
    padding: 10px
}

.text-center{
    text-align: center;
}

#map{
    max-width: 100%;
    height: 750px;
}

.center{
    margin: 0 auto;
    margin-bottom: 20px;
}

.max-width{
    width:100%;
    max-width: 350px;
}

.info{
    background-color: #cdcdcd99;
    position: fixed;
    bottom: 30px;
    z-index: 5;
    left: calc((100% - 300px) /2);
    right: auto;
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 12px;
}

.btn{
    border: 1px solid skyblue;
    background-color: aliceblue;
    color: skyblue;
    margin: 5px;
}

.search{
    display: flex;
    align-items: center;
}

* {
    outline: 0;
    font-family: sans-serif
}
body {
    background-color: #fafafa
}
span.msg,
span.choose {
    color: #555;
    padding: 5px 0 10px;
    display: inherit
}
.container {
    width: 350px;
    margin: 50px auto 0;
    text-align: center
}

.dropdown {
    width: 350px;
    display: inline-block;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 0 2px rgb(204, 204, 204);
    transition: all .5s ease;
    position: relative;
    font-size: 14px;
    color: #474747;
    height: 100%;
    text-align: left;
    margin: 5px;
}
.dropdown .select {
    cursor: pointer;
    display: block;
    padding: 10px;
}
.dropdown-menu > .select > i {
    font-size: 13px;
    color: #888;
    cursor: pointer;
    transition: all .3s ease-in-out;
    float: right;
    line-height: 20px
}
.dropdown:hover {
    box-shadow: 0 0 4px rgb(204, 204, 204)
}
.dropdown:active {
    background-color: #f8f8f8
}
.dropdown.active:hover,
.dropdown.active {
    box-shadow: 0 0 4px rgb(204, 204, 204);
    border-radius: 2px 2px 0 0;
    background-color: #f8f8f8
}
.dropdown.active .select > i {
    transform: rotate(-90deg)
}
.dropdown .dropdown-menu {
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    margin-top: 1px;
    box-shadow: 0 1px 2px rgb(204, 204, 204);
    border-radius: 0 1px 2px 2px;
    overflow: hidden;
    display: none;
    max-height: 144px;
    overflow-y: auto;
    z-index: 9
}
.dropdown .dropdown-menu li {
    padding: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer
}
.dropdown .dropdown-menu {
    padding: 0;
    list-style: none
}
.dropdown .dropdown-menu li:hover {
    background-color: #f2f2f2
}
.dropdown .dropdown-menu li:active {
    background-color: #e2e2e2
}
.sub-title{
    width: 80px;
}